.payment-option {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between;
    gap: 10px;
}

.payment-option .custom-radio {
    float: none !important;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.payment-option label {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    width: 100%;
    margin-bottom: 0;
}

.payment-option label img {
    margin-left: auto;
    max-height: 32px;
    width: auto;
}